* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height:1.8rem;
}
main article {
    background:#ffffff;
    color:#454545;
    opacity:0;
    font-size:18px;
}
main article.open {
    animation:articleOpen 200ms linear;
    opacity:1;
}
main article.close {
    animation:articleClose 200ms linear;
    opacity:0;
}
@keyframes articleOpen {
    0% {
        opacity:0;        
    }
    100% {
        opacity:1; 
    }
}
@keyframes articleClose {
    0% {
        opacity:1;        
    }
    100% {
        opacity:0; 
    }
}
article img {
    width:100%;
}
.arrow {
    display:inline-block;
    width:60px;
    height:60px;
    position:relative;
    vertical-align: middle;
}
.arrow:before{
    content:"";
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%) rotate(-45deg);
    width:20px;
    height:20px;
    border-left:solid 2px #454545;
    border-top:solid 2px #454545;
}
.arrow.right:before {
    transform:translateX(-50%) translateY(-50%) rotate(135deg);
}

header + main article {
    top:60px;
    height:calc(100% - 60px);
}
header {
    background:#ca6611;
    color:white;
    position:fixed;
    left:0;
    width:100%;
    display:table;
    top:0;
    height:60px;
    transition-duration:300ms;
}
header .title {
    font-size:24px;
}
header > * {
    display:table-cell;
    vertical-align: middle;
    height:60px;
    line-height:60px;
    position:relative;
}
header .arrow {
    display:table-cell;
    width:50px;
}

header .arrow:before {
    border-left-color:white;
    border-top-color:white;
}
header.hide {
    top:-60px;
}
header.hide ~ main article {
    top: 0;
    height:100%;
}
.m {
    margin:20px;
}
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom:10px; }
.column2{
    overflow:hidden;
    zoom:1;
}
.column2 > * {
    float:left;
    width:50%;
}
.column2 > *:nth-child(2n) > *{
    margin-left:10px;
}
.column2 > *:nth-child(2n + 1) > *{
    margin-right:10px;
}
.btn {
    background:darkorange;
    color:white;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    text-decoration:none;
    display:block;
    width:100%;
    height:60px;
    line-height:60px;
    border-radius:10px;
    border:solid 2px #ffaf51;
    transition-duration:200ms;
}
.btn:active {
    background:white;
    color:#ffaf51;
}
input,
select,
textarea {
    height:50px;
    line-height:50px;
    display:block;
    font-size:18px;
    border:solid 1px #999;
    padding:0 15px;
    width:100%;
    border-radius:3px
}
input:focus-visible {
    outline:solid 2px orange;
}
.select {
    position:relative;
}
.select select {
    appearance: none;
}
.select p:after {
    content:"";
    border-right:solid 1px #333;
    border-bottom:solid 1px #333;
    width:15px;
    height:15px;
    position:absolute;
    right:25px;
    top:calc(50% - 5px);
    transform:rotate(45deg) translateY(-50%);
}
textarea {
    min-height:200px;
    line-height:1.6rem;
    padding:10px;
}
label.radio,
label.checkbox {
    display:inline-block;
}
label.radio input[type=radio],
label.checkbox input[type=checkbox]{
    display:inline-block;
    position:relative;
    vertical-align: middle;
    appearance: none;
    border:none;
    width:auto;
}
label.radio input[type=radio]:before,
label.checkbox input[type=checkbox]:before {
    content:"";
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateY(-50%) translateX(-50%);
    width:25px;
    height:25px;
    border-radius:50%;
    border:solid 1px gray;
    transition-duration:200ms;
}
label.checkbox input[type=checkbox]:before {
    border-radius:5px;
}
label.radio input[type=radio]:after ,
label.checkbox input[type=checkbox]:after {
    content:"";
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateY(-50%) translateX(-50%);
    width:15px;
    height:15px;
    background:#ff7733;
    border-radius:50%;
    transition-duration:200ms;
    opacity:0;
}
label.checkbox input[type=checkbox]:after {
    content:"\02714";
    background:none;
    color:white;
    font-size:20px;
    height:20px;
    line-height:20px;
}
label.radio input[type=radio]:checked:before,
label.checkbox input[type=checkbox]:checked:before {
    border:solid 1px #ff7733;
}
label.radio input[type=radio]:checked:after ,
label.checkbox input[type=checkbox]:checked:after {
    opacity:1;
}
label.checkbox input[type=checkbox]:checked:before {
    background:#ff7733;
    border:solid 1px #ff7733;
}

.error-message{
    line-height:20px;
    min-height:20px;
    margin: 10px 0;
    background:#ca3111;
    color:white;
    padding:10px;
    display:none;
}
.error-message.active {
    display:block;
}
.error-message:before {
    content:"!";
    margin-right:10px;
}

table.cells {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
table.cells tr td {
    vertical-align:top;
    height:100%;
}

article.main {
    background:#fce8c0;
}
article.main .content {
    margin:0 auto;
    text-align:center;
    height:100vh;
    vertical-align:middle;
}
article.main .content .center{
    position:fixed;
    left:50%;
    top: 50%;
    width:60%;
    transform:translateX(-50%) translateY(-50%);
    z-index:-1;
}
article.main .content img {
    width:100%;
}
article.main .content{
    text-align:center;
    font-size:20px;
}
article.main .content h1 {
    margin:0;
    padding:0;
}
article.main .menu {
    padding:30px;
    height:100vh;
    top:0;
    background:white;
    position:relative;
    z-index:3;
    transition-duration:300ms;
}
article.main .menu.ontop {
    top:-100vh;
}
article.main .bottom {
    position:fixed;
    left:50%;
    bottom:20px;
    transform: translateX(-50%); 
}
article.main .bottom:before{
    content:"";
    display:block;
    width:20px;
    height:20px;
    border-left:solid 4px darkorange;
    border-top:solid 4px darkorange;
    transform: rotate(-135deg);
}
article.main .menu .close {
    position:absolute;
    left:50%;
    bottom:20px;
    transform: translateX(-50%); 
}
article.main .menu .close:before{
    content:"×";
    color:darkorange;
    font-size:40px;
}

article ul.list {
    padding:0;
    list-style-type:none;
    margin:0;
    background:white;
}
article ul.list li:first-child > * {
    border-top:solid 1px lightgray;
}
article ul.list li > * {
    border-bottom:solid 1px lightgray;
    display:table;
    width:100%;
    text-decoration:none;
    color:#454545;
}
article ul.list li > *:active {
    background:lightgray;
}
article ul.list li > * > * {
    display:table-cell;
    vertical-align:middle;
    position:relative;
    height:60px;
    line-height:60px;
}
article ul.list li > * > *.right {
    text-align:right;
}
.ell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:60px;
    line-height:60px;
}
.ell.left10 {
    left:10px;
    width:calc(100% - 10px);
}
dl dd {
    margin:0;
    margin-bottom:10px;
}
dl dt {
    font-weight:bold;
    margin-bottom:5px;
}

dialog dwindow {
    border-radius:5px;
}
dialog dwindow a {
    color:darkcyan;
}
dialog dwindow a.cancel {
    color:red;
}
dialog dwindow .loading {
    display:table;
    width:100%;
}
dialog dwindow .loading > * {
    display:table-cell;
    vertical-align:middle;
}
dialog dwindow .loading .image {
    width:60px;
    height:60px;
    border-radius:50%;
    border:solid 6px gray;
    border-left:solid 6px rgba(0,0,0,0);
    animation:loading 1s linear infinite;
}
dialog dwindow .loading .image + div {
    padding-left:20px;

}
@keyframes loading {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}