<table class="cells">
    <tr>
        <td>
            <div class="m">
                <dl>
                    <dt>name</dt>
                    <dd v="name"></dd>
                    <dt>username</dt>
                    <dd v="username"></dd>
                    <dt>numberic</dt>
                    <dd v="numberic"></dd>
                    <dt>stype</dt>
                    <dd v="stype"></dd>
                    <dt>checkbox</dt>
                    <dd v="checkbox"></dd>
                    <dt>Set Type</dt>
                    <dd v="otherset"></dd>
                </dl>    
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="m">
                <a class="btn" v="back">Back</a>
            </div>
        </td>
    </tr>
</table>
