<dl>
    <dt></dt>
    <dd>
        <ul class="list">
            <li>
                <a v="d01">
                    <div>
                        <div class="ell left10">Dialog 1</div>
                    </div>
                    <div class="right" style="width:60px">
                        <div class="arrow right"></div>
                    </div>
                </a>
            </li>
            <li>
                <a v="d02">
                    <div>
                        <div class="ell left10">Dialog 2 (Alert1)</div>
                    </div>
                    <div class="right" style="width:60px">
                        <div class="arrow right"></div>
                    </div>
                </a>
            </li>
            <li>
                <a v="d03">
                    <div>
                        <div class="ell left10">Dialog 3 (Alert2)</div>
                    </div>
                    <div class="right" style="width:60px">
                        <div class="arrow right"></div>
                    </div>
                </a>
            </li>
            <li>
                <a v="d04">
                    <div>
                        <div class="ell left10">Dialog 4 (Confirm)</div>
                    </div>
                    <div class="right" style="width:60px">
                        <div class="arrow right"></div>
                    </div>
                </a>
            </li>
            <li>
                <a v="d05">
                    <div>
                        <div class="ell left10">Dialog 5 (Load)</div>
                    </div>
                    <div class="right" style="width:60px">
                        <div class="arrow right"></div>
                    </div>
                </a>
            </li>
        </ul>
    </dd>
</dl>
