<table>
    <tr>
        <td class="text_center vertical_middle">
            <h1>Hallo Saiberian!</h1>
            <p>Text Sample Text Sample ...</p>
            <div class="text_left inline-block" style="width:200px">
                <p>- <a url="/page1">Page1</a></p>
                <p>- <a url="/page2">Page2 (Dialog)</a></p>
                <p>- <a url="/page3">Page3 (List)</a></p>
                <p>- <a url="/page4">Page4 (Form)</a></p>    
            </div>
        </td>
    </tr>
</table>
