<table class="window">
    <tr class="middle">
        <td>
            <div class="m10">
                <p>Application Test Sample...</p>
                <p><a class="btn" v="page1">Next Page1</a></p>
                <p><a class="btn" v="page2">Next Page2 (ModernJS)</a></p>
                <p><a class="btn" v="page3">Next Page3 (Dialog)</a></p>
                <p><a class="btn" v="page4">Next Page4 (List)</a></p>
                <p><a class="btn" v="page5">Next Page5 (Validation)</a></p>
            </div>            
        </td>
    </tr>
</table>
