<table class="window">
    <tr class="middle">
        <td>
            <div class="m20">
                <p>Application Test Sample...</p>
                <p><a class="btn" v="page1">Next Page1</a></p>
                <p><a class="btn" v="page2">Next Page2 (ModernJS)</a></p>
                <p><a class="btn" v="page3">Next Page3 (Dialog)</a></p>
                <p><a class="btn" v="page4">Next Page4 (List)</a></p>
                <p><a class="btn" v="page5">Next Page5 (Validation)</a></p>
                <p><a class="btn" v="page6">3s Load.... => Page6</a></p>
                <p><a class="btn" v="page7">Next Page7 (UI bind/append)</a></p>
                <p><a class="btn" v="pageNotfound">Not Found Page Access</a></p>
            </div>            
        </td>
    </tr>
</table>
