<table class="window">
    <tr>
        <td>
            <div class="m10">
                <p>Page1 Text Sample...</p>
                <div v="item1"></div>
                <div v="item2"></div>
            </div>
        </td>
    </tr>
    <tr class="bottom">
        <td>
            <div class="m10">
                <a class="btn" v="btn.next">Next Type1...</a>
            </div>
            <div class="m10">
                <a class="btn" v="btn.replace">Replace Type2...</a>
            </div>
        </td>
    </tr>
</table>
