<div class="m10">
    <p>required</p>
    <input type="text" v="input1">
    <div class="error-message" v="error.input1"></div>
</div>
<div class="m10">
    <p>length (4 chars)</p>
    <input type="text" v="input2">
    <div class="error-message" v="error.input2"></div>
</div>
<div class="m10">
    <p>Min length (4 chars over)</p>
    <input type="text" v="input3">
    <div class="error-message" v="error.input3"></div>
</div>
<div class="m10">
    <p>Min length (4 chars under)</p>
    <input type="text" v="input4">
    <div class="error-message" v="error.input4"></div>
</div>
<div class="m10">
    <p>Between Length (Between 4 - 12 chars)</p>
    <input type="text" v="input5">
    <div class="error-message" v="error.input5"></div>
</div>
<div class="m10">
    <a class="btn" v="submit">Submit</a>
</div>