<table>
    <tr>
        <td>
            <div class="m10">
                Value_1
            </div>
            <div class="m10">
                <input type="text" v="value1" placeholder="Value1....">
            </div>
            <div class="m10">
                Value_2
            </div>
            <div class="m10">
                <select v="value2">
                    <option value="">--- Value2 Select ---</option>
                    <option value="0">Select001</option>
                    <option value="1">Select002</option>
                    <option value="2">Select003</option>
                    <option value="3">Select004</option>
                </select>
            </div>
            <div class="m10">Value_3</div>
            <div class="m10">
                <textarea v="value3"></textarea>
            </div>
            <div class="m10">Value_4</div>
            <ul>
                <li>
                    <label>
                        <div>
                            <input type="radio" name="value4" v="value4" value="0">
                            <span class="ml5">Type0</span>
                        </div>
                    </label>    
                </li>
                <li>
                    <label>
                        <div>
                            <input type="radio" name="value4" v="value4" value="1">
                            <span class="ml5">Type1</span>
                        </div>
                    </label>    
                </li>
                <li>
                    <label>
                        <div>
                            <input type="radio" name="value4" v="value4" value="2">
                            <span class="ml5">Type2</span>
                        </div>
                    </label>    
                </li>
                <li>
                    <label class="mb10">
                        <div>
                            <input type="radio" name="value4"  v="value4" value="3">
                            <span class="ml5">Type3</span>    
                        </div>
                    </label>
                </li>
            </ul>
            <div class="m10">Value_5</div>
            <ul>
                <li>
                    <label>
                        <div>
                            <input type="checkbox" v="value5" value="0">
                            <span>Checkbox 0</span>    
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div>
                            <input type="checkbox" v="value5" value="1">
                            <span>Checkbox 1</span>    
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div>
                            <input type="checkbox" v="value5" value="2">
                            <span>Checkbox 2</span>    
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div>
                            <input type="checkbox" v="value5" value="3">
                            <span>Checkbox 3</span>    
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div>
                            <input type="checkbox" v="value5" value="4">
                            <span>Checkbox 4</span>
                        </div>
                    </label>
                </li>
            </ul>
            <div class="m10">Value_6</div>
            <div class="m10">
                <label class="btn">
                    Set Image
                    <input type="file" v="value6" pattern="*.png|*.jpg" style="display:none">
                </label>
            </div>
        </td>        
    </tr>
    <tr>
        <td>
            <div class="m10">
                <button class="btn" v="send">Send</button>
            </div>
        </td>
    </tr>
</table>
