<table>
    <tr>
        <td>
            <div class="m10">
                Value_1
            </div>
            <div class="m10">
                <input type="text" v="value1" placeholder="Value1....">
            </div>
            <div class="m10">
                Value_2
            </div>
            <div class="m10">
                <select v="value2">
                    <option value="">--- Value2 Select ---</option>
                    <option value="0">Select001</option>
                    <option value="1">Select002</option>
                    <option value="2">Select003</option>
                    <option value="3">Select004</option>
                </select>
            </div>
            <div class="m10">
                Value_3
            </div>
            <div class="m10">
                <textarea v="value3"></textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="m10">
                <button class="btn" v="send">Send</button>
            </div>
        </td>
    </tr>
</table>
