<ul>
    <li>
        <a v="dialog1">
            <div class="pl10">dialog1</div>
            <div class="right">
                <div class="arrow right"></div>
            </div>
        </a>
    </li>
    <li>
        <a v="dialog2">
            <div class="pl10">dialog2</div>
            <div class="right">
                <div class="arrow right"></div>
            </div>
        </a>
    </li>
    <li>
        <a v="dialog2a">
            <div class="pl10">dialog2 (title)</div>
            <div class="right">
                <div class="arrow right"></div>
            </div>
        </a>
    </li>
    <li>
        <a v="dialog3">
            <div class="pl10">dialog3 (loading)</div>
            <div class="right">
                <div class="arrow right"></div>
            </div>
        </a>
    </li>
</ul>